<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>


  <body style="background-color: #F8EDE3;">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1><%=name%> News</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/business">Business</a>
      <a class="nav-item nav-link" href="/health">Health</a>
      <a class="nav-item nav-link" href="/science">Science</a>
      <a class="nav-item nav-link" href="/sports">Sports</a>
      <a class="nav-item nav-link" href="/entertainment">Entertainment</a>
      <a class="nav-item nav-link" href="/tech">Technology</a>
      
    </div>
  </div>
</nav>

<div style="display: flex;flex-wrap:wrap;">
    <% for(var i = 0; i < titleNews.length; i++) { %>
        <li><div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= imageNews[i]%>" alt="No Image">
          <div class="card-body">
            <h3 class="card-title"><%= titleNews[i] %></h3>
            <p class="card-text"><%=descriptionNews[i]%></p>
            <a href="<%=moreNews[i]%>" class="btn btn-primary">Read More</a>
            
          </div>
        </div></li>
    <% } %>
  </div>
  



  </body>
</html>
